*.log
*.rpt
*.rst
*.wpc
*.pb
*.js
*.ini
*.rlx
*.wdf
*.bat
*.obj
*.xml
*.bit
*.jou
*.sh
*.rpx
*.wdb
*.reloc
*.svtype
*.exe
*.type
*.xdbg
*.vdb
*.mem
*.dbg
*.lpr
*.tcl
*.vdi
*.vds
*.db
*.c
*.sdf
*.v
*.sdb
*.rtti
*\__synthesis_is_complete__
vivado_pid*.zip
vivado_pid*.str
xsim